EXPO_PUBLIC_API_URL=http://127.0.0.1:8001
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
EXPO_PUBLIC_APP_KIND=driver

APPLE_ASC_KEY_PATH=./credentials/AuthKey.p8
APPLE_ASC_KEY_ID=VS6W73BSA6
APPLE_ASC_ISSUER_ID=
